/* https: //source.unsplash.com/random/ */

:root {
    --text-color-white: #FFFFFF;
    --text-color-black-light: #3a3a3a;
    --text-color-matte-black: #4B4F58;
    --text-color-black: #000;
    --color-dark-yellow: #dba367;
}

h3 {
    font-size: 2.5rem !important;
    color: var(--text-color-black-light);
}

p {
    color: var(--text-color-matte-black);
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}

.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}

.heart {
    position: relative;
    display: inline-block;
}

.heart svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-dark-yellow);
}

.heart::after {
    position: absolute;
    content: "";
    width: 5rem;
    height: 1px;
    background-color: var(--color-dark-yellow);
    right: -9rem;
    top: 50%;
    transform: translate(-50%);
}

.heart::before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 1px;
    background-color: var(--color-dark-yellow);
    left: -4rem;
    top: 50%;
    transform: translate(-50%);
}

/*Start header */
.w-wedding-header {
    height: 90px;
    display: flex;
    margin: auto;
}

.w-wedding-header .logo {
    margin: auto;
    margin-bottom: 1rem;
}

.w-wedding-header .logo svg {
    max-width: 15vw;
}

/*End header */

/* **************************************** */
/*Start w-banner-introduce */
.w-banner-introduce {
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.w-banner-introduce::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    content: '';
    z-index: -1;
}

.w-banner-introduce .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.w-banner-introduce .content .name-lover {
    font-size: 4rem;
    color: var(--text-color-white);
}

.w-banner-introduce .content span {
    position: relative;
    color: var(--text-color-white);
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    width: max-content;
    font-size: 1.5rem;

}

.w-banner-introduce .content span::after {
    content: '';
    position: absolute;
    right: -5rem;
    top: 50%;
    width: 4rem;
    height: 1px;
    background-color: var(--text-color-white);
    transform: translateY(-50%);
    z-index: 2;
}

.w-banner-introduce .content span::before {
    content: '';
    position: absolute;
    left: -5rem;
    top: 50%;
    width: 4rem;
    height: 1px;
    background-color: var(--text-color-white);
    transform: translateY(-50%);
    z-index: 2;
}

.w-banner-introduce .content .sub-text {
    color: var(--text-color-white);
}

/*End w-banner-introduce */

/* ****************************************** */
/* Start w-groom-and-bride */
.w-groom-and-bride {
    background-attachment: fixed;
}

.w-groom-and-bride .heading {
    margin: 2rem 0;
    text-align: center;
}

.w-groom-and-bride .heading .sub-title {
    font-size: 1.25rem;
    color: var(--text-color-matte-black);
}

.w-groom-and-bride .heading .title {
    margin-bottom: 1.5rem;
}

.w-groom-and-bride .content {
    text-align: center;
}

.w-groom-and-bride .content .avt {
    width: 20rem;
    height: 20rem;
    margin: auto;
}

.w-groom-and-bride .content .name {
    margin-top: 1.5rem;
}

.w-groom-and-bride .content .introduce-text {
    width: 90%;
    margin: auto;
}

.w-groom-and-bride .content .social-network-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-groom-and-bride .content .social-network-list li {
    margin: 0 .5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-dark-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

.w-groom-and-bride .content .social-network-list li a {
    line-height: 1rem;
}

.w-groom-and-bride .content .social-network-list li a svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color-white);
}

.w-groom-and-bride .btn-rsvp {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark-yellow);
    padding: 0.6rem 3rem;
    border-radius: 30px;
    width: fit-content;
    text-decoration: none;
}

/* End w-groom-and-bride */

/* Start w-captured-moments */
.w-captured-moments .heading {
    text-align: center;
}

.w-captured-moments .sub-text {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
}

.w-captured-moments .content-lists {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-captured-moments .content-lists .items {
    margin: 0 .5rem;
}

.w-captured-moments .content-lists .items:last-child {
    margin-right: 0;
}

.w-captured-moments .content-lists .items:first-child {
    margin-left: 0;
}

.w-captured-moments .content-lists .items .img-items {
    margin: 1rem 0;
}

.w-captured-moments .content-lists .items .img-items img {
    transition: all .2s ease-in;
}

.w-captured-moments .content-lists .items .img-items.text-item {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.w-captured-moments .content-lists .items .img-items:hover img {
    transform: translateY(-.8rem) scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* End w-captured-moments */

/* ************************************** */
/*Start w-our-love-story */
.w-our-love-story {
    position: relative;
    padding-bottom: 12rem;
    padding-top: 3rem;
}

.w-our-love-story .heading {
    margin: 2rem 0;
    text-align: center;
}

.w-our-love-story .heading .sub-text {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
}

.w-our-love-story .content-items {
    text-align: center;
}

.w-our-love-story .content-items .date-love {
    display: block;
    font-size: 2rem;
    color: var(--text-color-black-light);
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.w-our-love-story .content-items .title {
    font-size: 3rem;
    color: var(--color-dark-yellow);
}

.w-our-love-story .content-items p {
    margin-top: 1.5rem;
}

.w-our-love-story .content-items .heart::after,
.w-our-love-story .content-items .heart::before {
    width: 2rem;
}

.w-our-love-story .content-items .heart::after {
    right: -4rem;
}

.w-our-love-story .content-items .heart::before {
    left: -2rem;
}

.w-our-love-story .video-love {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 26%);
    bottom: -6rem;
    width: 50rem;
    border-radius: 10px;
    overflow: hidden;
    height: 24rem;
}

.w-our-love-story .video-love::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    left: 0;
    top: 0;
    z-index: 1;
}

.w-our-love-story .video-love a {
    position: relative;
}

.w-our-love-story .video-love a::after {
    position: absolute;
    content: '▸';
    color: var(--color-dark-yellow);
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
}

.w-our-love-story .video-love a:hover:after {
    opacity: .7;
}

.w-our-love-story .video-love a::before {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: #00000096;
    filter: blur(1px);
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-54%, -41%);
    border-radius: 100%;
    z-index: 8;
}

/*End w-our-love-story */

/* **************************************** */
/*Sart w-reply-attending */
.w-reply-attending {
    margin-top: 35vh;
}

.w-reply-attending .heaiding {
    margin: 2rem 0;
    text-align: center;
}

.w-reply-attending .sub-text {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
}

.w-reply-attending .attending-form {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 3rem;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

.w-reply-attending .attending-form .btn-send {
    margin: 2rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark-yellow);
    padding: 0.6rem 3rem;
    border-radius: 30px;
    width: fit-content;
    text-decoration: none;
    color: var(--text-color-white);
}

/*End w-reply-attending */


/* Start w-celebrate-our-love */
.w-celebrate-our-love {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.w-celebrate-our-love::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    left: 0;
    top: 0;
    z-index: -1;
}

.w-celebrate-our-love .heading {
    text-align: center;
    margin-bottom: -10rem;
    text-align: center;
}

.w-celebrate-our-love .heading .title {
    font-size: 3rem;
    color: var(--text-color-white);
}

.w-celebrate-our-love .heading .sub-title {
    font-size: 2rem;
    color: var(--text-color-white);
}

.w-celebrate-our-love .content {
    width: 70rem;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 14rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.w-celebrate-our-love .content .content-right,
.w-celebrate-our-love .content .content-left {
    text-align: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.w-celebrate-our-love .content::after {
    position: absolute;
    content: '';
    left: 51%;
    transform: translateX(-50%);
    top: 0;
    background-color: var(--color-dark-yellow);
    width: 1px;
    height: 100%;
}

.w-celebrate-our-love .content .content-right .content-title,
.w-celebrate-our-love .content .content-left .content-title {
    font-weight: 400;
    position: relative;
    font-style: italic;
    margin-bottom: 2rem;
}

.w-celebrate-our-love .content .content-right .content-title::after,
.w-celebrate-our-love .content .content-left .content-title::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 1px;
    background-color: var(--color-dark-yellow);
    left: 50%;
    top: calc(100% + 1rem);
    transform: translateX(-50%);
}

.w-celebrate-our-love .content .content-right .time span,
.w-celebrate-our-love .content .content-left .time span {
    margin-bottom: 1rem;
    display: inline-block;
}

.w-celebrate-our-love .content .content-left .address,
.w-celebrate-our-love .content .content-right .address,
.w-celebrate-our-love .content .content-right .time,
.w-celebrate-our-love .content .content-left .time {
    color: var(--text-color-matte-black);
}

.w-celebrate-our-love .btn-get-direction {
    text-decoration: none;
    color: var(--text-color-black);
    transition: all .3s ease;
    margin-top: 2rem;
    display: inline-block;
}

.w-celebrate-our-love .btn-get-direction:hover {
    color: var(--color-dark-yellow);
}

/* End w-celebrate-our-love */

/* *********************************************** */
/* Start w-expecting-you */
.w-expecting-you {
    margin-top: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.w-expecting-you .couple-photo {
    width: 30rem;
    height: 30rem;
}

.w-expecting-you .title {
    color: var(--text-color-black);
    font-size: 3rem;
    margin-top: 2rem;
}

.w-expecting-you .social-network-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    position: relative;
}

.w-expecting-you .social-network-list::after {
    position: absolute;
    content: '';
    width: 50vw;
    height: 1px;
    background-color: var(--color-dark-yellow);
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
}

.w-expecting-you .social-network-list li {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-dark-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.w-expecting-you .social-network-list li a {
    line-height: 0;
}

.w-expecting-you .social-network-list li a svg {
    width: 1rem;
    height: 1rem;
    fill: var(--text-color-white);
}

.w-expecting-you .btn-live {
    color: var(--text-color-black);
    text-decoration: none;
    transition: all .3s ease;
    display: inline-block;
    margin-top: 2rem;
}

.w-expecting-you .btn-live:hover {
    color: var(--color-dark-yellow);
}

/* End w-expecting-you */

/* *********************************** */
/* Start w-wedding-footer */
.w-wedding-footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-white);
    background-color: var(--color-dark-yellow);
    margin-top: 2rem;
}

/* End w-wedding-footer */
.player-music {
    width: 60px;
    height: 60px;
    background-color: #dba367;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    left: 2rem;
    transform: translateX(-50%);
    top: 50%;
    opacity: .7;
    cursor: pointer;
}

.player.active .play {
    display: none;
}

.player.active .pause {
    display: block;
}

.player .play {
    display: block;
}

.player .pause {
    display: none;
}